@{
    ViewData["Title"] = "Home";
}
@section AddToHead{


    <script>
        var eventId = 0;
        var events = [];
        var employeeid = '@ViewBag.employeeId';
    </script>
}

<div class="row clearfix">
    <div class="col-lg-6 col-md-12" style="padding-right:1px;">
        <div class="card" style="min-height:150%">
            @*<div class="card-header">
                    <h6 class="text-center" style="margin-top: 10px;font-weight: bold;">HR Announcement</h6>
                </div>*@

            <div class="body" id="msg-body">
                <h6 class="" style="margin-left: 10px;font-weight: bold;color: #550eb3;">HR Announcement</h6>
                <hr />
                <div class="ml-5 fa-3x spinner-1">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12" style="padding-left:1px;">
        <div class="card" style="min-height:150%">
            <div class="body todo_list">
                <div class="row" style="margin-bottom: -0.7rem;">
                    <div class="col-8">
                        <h6 class="" style="margin-left: 10px;font-weight: bold;color: #550eb3;">My Todo List</h6>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-danger btn-sm" style="border-radius: 1rem;background-color: #550eb3;border-color: #550eb3; color:#fff;" data-toggle="modal" data-target="#addevent">
                            <i class="fa fa-plus"></i>
                            Add new
                        </a>
                    </div>
                </div>

                <hr />

                <div class="ml-5 fa-3x spinner-1">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
                @*<img src="~/image/spinner-gif.jpg" class="spinner-1" />*@
                <ul class="list-unstyled" id="todos"></ul>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="addevent" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Todo</h5>
            </div>
            <div class="modal-body">
                <hr />
                <div class="input-group mb-3" style="margin-top: 3rem;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                    </div>
                    <input id="title-msg" type="text" placeholder="Title" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Details</span>
                    </div>
                    <textarea id="details-msg" placeholder="details" class="form-control" rows="4" aria-label="With textarea">
                    </textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="save-todo">&nbsp;Save&nbsp;</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/Content/announcementDashboard.js"></script>
    <script src="~/Content/todojs.js"></script>
    <script>
        $(document).ready(function () {


        });
    </script>
}