@using LegalManagementSystem.Models
@{
    ViewBag.Title = "Error";
}

<h2 style="margin-bottom:50px;">Error Has Occured</h2>



    @if (LegalGuideUtility.ErrorMessage != null)
    {
        <span style="color:red; margin-left: 100px; font-size:x-large;text-align:center">@LegalGuideUtility.ErrorMessage.ToString()</span>
    }

